{% extends 'seed/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-grey" href="{% url 'store' %}">&#x2190; Повернутись в магазин</a>
            <br>
            <br>
            <table class="table">
                <tr>{% if order.get_cart_items < 5 %}
                    <th><h5>Насіння: <strong>{{order.get_cart_items}} кг (Мінімальне замовлення від 5 кг!)</strong></h5></th>
                    <th><h5>Загалом: <strong>{{order.get_cart_total}} грн</strong></h5></th>
                    {% else%}
                    <th><h5>Насіння: <strong>{{order.get_cart_items}} кг </strong></h5></th>
                    <th><h5>Загалом: <strong>{{order.get_cart_total}} грн</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px;" class="btn btn-success"
                           href="{% url 'checkout' %}">Купити</a>
                    </th>
                    {% endif %}
                </tr>
            </table>
        </div>
        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"><strong>Зображення</strong></div>
                <div style="flex:2"><strong>Насіння</strong></div>
                <div style="flex:1"><strong>Ціна за кг</strong></div>
                <div style="flex:1"><strong>Кількість</strong></div>
                <div style="flex:1"><strong>Загалом</strong></div>
            </div>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name_prod}}</p></div>
                <div style="flex:1"><p>{{item.product.price}}грн</p></div>
                <div style="flex:1">
                    <p class="quantity">{{item.quantity}}</p>
                    <div class="quantity">
                        <img data-product={{item.product.pk}} data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">

                        <img data-product={{item.product.pk}} data-action="remove" class="chg-quantity update-cart"
                             src="{% static  'img/arrow-down.png' %}">
                    </div>
                </div>
                <div style="flex:1"><p>{{item.get_total}}грн</p></div>
            </div>
            {%endfor%}
        </div>
    </div>
    <br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}