{% extends 'seed/main.html' %}
{% load static %}
{% block content %}


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <p><h2>Очистка насіння.</h2></p>
            <p><h3><strong>Як відбувається очищення насіння</strong></h3></p>
                <p>У роботі ми використовуємо надійну очисну та калібрувальну техніку і пропонуємо обробку на наступних
                типах обладнання:</p>

                <p>Очистка насіння на Тертці дозволяє позбутися дрібних домішок та лушпиння. З її допомогою, наприклад,
                попередня очистка насіння люцерни від домішок буде виконана на відмінно. Обробка на тертці забезпечить
                якісне витирання конюшини та підвищить плинність у насіння злакових трав.</p>

                <p>На обладнанні Селектра можна провести первинну і вторинну очистку насіння зернових, бобових, олійних
                культур; буряка. Застосовуємо обробку на Селектра для підготовки насіння зернових та олійних культур для
                посіву, а також для їх калібрування.</p>

                <p>Очистка насіння соняшнику проводиться на обладнанні САД. Сепаратор САД очищує будь-яке насіння
                (зернових, бобових, олійних та ін. культур) від домішок та калібрує його. Використання такого
                зерноочисного обладнання забезпечить високу якість посівного матеріалу і, як результат, підвищення
                врожайності до 40%. Висока калібрувальна здатність апарату дає змогу працювати з матеріалами діаметром
                до 15 мм.</p>

                <p>Насіннєочисна машина «Магнітка» є незамінною коли виникає потреба в очищенні від бур’янів із шорсткою
                поверхнею та домішок, котрі складно відділити іншими способами. Ефективно використовується для обробки
                насіння льону і трав. Обладнання працює таким чином: в бункер подається магнітний порошок, який щільно
                огортає шорсткі поверхні, “намагнічуючи” їх, далі вони притягуються магнітним барабаном. На виході маємо
                якісно очищене насіння.</p>

                <p>Очистка насіння «Бурякова гірка» здійснюється методом розподілу насіння та домішок в залежності від
                їхніх характеристик: особливостей форми та коефіцієнту тертя. Обробка відбувається завдяки нахиленій
                (рухомій або нерухомій) поверхні обладнання: на ній затримуються пошкоджені насінини із шорсткою
                поверхнею, бур’яни, солома, полова та інші домішки. Вартість очистки за допомогою Бурякової гірки
                вказана в гуртовій та роздрібній цінах.</p>

                <p>Обладнання компанії Агро-Вікторія відповідає всім вимогам державних стандартів та нормам санітарії.
                Техніка зручна в експлуатації, її робота повністю налагоджена. Для перевезення та зберігання насіння
                проводиться розтарка в мішки та біг-беги.</p>
                <p><h4>Замовити послугу очищення насіння або навантаження в біг-беги ви можете заповнивши швидку заявку
            внизу цієї сторінки і наш представник зв'яжеться з вами:</h4></p>
            <br>
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form action="{% url 'clean_seed' %}" method="post">
                        {% csrf_token %}
                        <div id="user-info">
                            <hr>
                            <p><strong>Швидка заявка для замовлення або консультації</strong></p>
                            <p>Вкажіть ваші контактні дані:</p>
                            <hr>

                            <div class="form-error">{{ form.non_field_errors }}</div>

                            {% for f in form %}
                            <p><label class="form-field" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                            <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}
                            <hr>

                            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Залишити заявку">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
